@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Slab&display=swap');


body{

    background-image: linear-gradient(to right top, #845ec2, #a55dbd, #c15db5, #d95fab, #ec64a0, #f76e91, #fd7b84, #ff8a7a, #ffa26e, #ffbd66, #ffda65, #f9f871);
    margin: 50px  50px auto; 
}


#players{
    padding: 50px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr  1fr;
    justify-items: center;
    align-items: center; 
    justify-content: center;
    font-family: 'Josefin Slab', serif; 
    color: white;
    font-weight: 600;
}
#playerA, #playerB {
    text-align: center; 
    font-size: 25px;

}
.row{    
    display: grid;
    grid-template-columns: repeat(3, 100px);
    align-items: center;
    justify-self: center;
    font-family: 'Amatic SC', cursive;
    font-size: 9vh;
}
.row div{
    display:grid;
    border: .1px rgb(203, 203, 203) solid;
    height: 100px;
    width: 100px; 
    margin: 0 auto;
    align-items: center; 
    justify-items: center;
}
.gameBoard{
    margin: 0 auto;
    width: 300px;
    background-color: white;
    
}
.reset {
    display: grid;
    padding: 20px;
    width: 30%;
    align-items: center;
    justify-self: center;
    margin: 50px  auto;
    border: .1px rgb(203, 203, 203) solid;
    border-radius: 15px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
#winner{
    text-align: center;
    font-family: 'Josefin Slab', serif;
}
.popup {
    display: grid;
    padding: 20px;
    width: 50%;
    align-items: center;
    justify-self: center;
    margin: 100px auto;
    border: 1px white solid;
    border-radius: 15px;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: white;
    background: none;
}
.name{
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    margin: 100px 0 80px 0;
    text-align: center;
}
a{
    text-align: center;
    align-items: center;
    justify-self: center;
    color:white;
    font-family: 'Josefin Slab', serif; 
    text-decoration: none;
    font-size: 21px;
}
a:hover {
    color: pink;
    font-size: 31px;
}
#modal{
    background-color: rgba(255,255, 255, 0.3);
    width: 50%;
    padding: 25px;
    display: grid; 
    margin: 0 auto;
}
#exit{
    border: 1px solid  #c15db5;
    background-color: #d95fab;
    font-size: 51px;
    padding: 10px;
  
}
#winner{
    color: white;
}
footer{
    color: white;
    font-family: 'Josefin Slab', serif; 
    text-align: center;
    font-size: 21px;
    padding: 50px;
}
.info{
    color: white; 
    font-family: 'Josefin Slab', serif;
    margin: 0 auto;

}
#rules{
        width: 300px;
        margin: 25px auto;
        
        font-size: 40px;
        color: white;
        background: none;
}
#movingButton {
    animation: 
      nudge 5s linear  alternate;
  }
  #seperator{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: white;
  }

  #awesome {

    -webkit-animation:colorchange 20s infinite alternate;
    
    
    
  }

  @-webkit-keyframes colorchange {
    0% {
      
      color: #845ec2;
    }
    
    10% {
      
      color: #ffda65;
    }
    
    20% {
      
      color: #f76e91;
    }
    
    30% {
      
      color: #2980b9;
    }
    
    40% {
      
      color: #a55dbd;
    }
    
    50% {
      
      color: #f1c40f;
    }
    
    60% {
      
      color: aquamarine;
    }
    
    70% {
      
      color: #fd7b84;
    }
    80% {
   
      color: #f1c40f;
    }
    
    90% {
   
      color: aliceblue;
    }
    
    100% {
      
      color: #a55dbd;
    }
  }

  @keyframes nudge {
  
    0% {
      transform: rotate(-7deg);
    }
    
    33% {
      transform: rotate(7deg);
    }
    
    66% {
      transform: rotate(-7deg);
    }
  }
@media(max-width: 3000px){
    .row{
        grid-template-columns: repeat(3, 200px);
    }
    .info{
        font-size: 35px;
        padding: 50px 100px;
    }
    .row div{
        height: 200px;
        width: 200px; 
        font-size: 180px;
    }
    .gameBoard{
        width: 600px;
    }

}

@media(max-width: 1000px){
    .row{
        grid-template-columns: repeat(3, 180px);
        
    }
    .row div{
        height: 180px;
        width: 180px; 
        font-size: 130px;
    }
    .gameBoard{
        width: 540px;
    }
    .info{
        font-size: 40px;
        padding: 50px 0px;
    }
}
@media(max-width: 500px){
    .row{
        grid-template-columns: repeat(3, 150px);
        
    }
    .row div{
        height: 150px;
        width: 150px; 
        font-size: 130px;
    }
    .gameBoard{
        width: 540px;
    }
}
