@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

// my colors

$sg-plum: #655a78;
$sg-lavender:#b3aac2;
$sg-gray:#979cae;
$sg-light-gray: #d7d8e7;
$sg-greyish: #81768c;


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    background-color: $sg-light-gray;
    padding: 0px;
    margin: 0px;

}
.header{
    display: grid;
    grid-template-rows: auto;
}
h1, h3 {
    text-align: center;
    padding: 50px;
    font-family: 'Roboto Mono', monospace;
}
h4{
    text-align: center;
    padding: 0 50px 11px 50px;
    font-family: 'Roboto Mono', monospace;
    margin: 0 11px 11px 11px;

}
h6 {
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
    margin: 20px;
    padding: 0 10px 100px 50px;
}
.h6{
    padding: 0 50px 100px 10px;
}
p {
    text-align: right;
    padding: 15px;
    margin: 0;
    background-color: black;
    color: white;
    letter-spacing: 4px;
    font-size: 30px;
}
.container{
    display: flex;
    justify-content: center;
    // background-color: white;
    margin: 0px;
    padding: 50px;   
    background-image: url(https://as1.ftcdn.net/jpg/01/08/78/52/500_F_108785255_2dbzS8gKp2OAto2CWcUgNhFVQ741LWIE.jpg);
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten; 
}
.calculator{
    padding: 20px;
    border: solid gray 1px;
    background-color: $sg-lavender;
    font-family: 'Teko', sans-serif;  
}  
.total {
    background-color: black;
    width: 300px;
    height: 75px; 
    margin: 0 0 11px 0; 
}  
.rows{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: 300px;
    width: 300px;
}
   
.button1, .key--operator{
    text-align: center;
    background-color: $sg-plum; 
    color: white; 
}

.button2 {
    text-align: center;
    background-color:white; 
    color:black; 
}

.button3{
    text-align: center;
    background-color: $sg-plum; 
    color:white; 
    grid-column:4/5;
    grid-row: 4/6;
}

#button4{
    text-align: center;
    background-color:white; 
    color: black; 
    grid-column:1/3;

}

#clear{
    grid-column:1/3;
}

button{
    border-radius: 5%;
    font-size: 21px;
    font-family: 'Teko', sans-serif;
}

button:hover {
    background-color: $sg-light-gray;
    color:black;
}

#button4:hover{
    background-color: $sg-light-gray;
}

.stack{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background-color: white;
    padding: 100px 0 0 0;
}

img{
    height: 100px;
    width: auto;
    padding: 50px;  
}
#img2{
    margin: 0 0 50px -100px;
}

.img1, .img2, .img3{
    justify-self:center;
    background-color: lighten( $sg-lavender, 20%);
    height: 100px;
    width: 100px;
    animation-duration: 5s;
    animation-name: slidein;
    animation-delay: 1.5s;
}

// my queries 
@media screen and (min-width: 750px) {
    img{
       
        margin: 0 0 50px -100px;
    }
    #img2{
        margin: 0 0 50px 0;
    }
    h6, .h6{
        padding: 0 50px 150px 50px;
    }

}
@media screen and (min-width: 420px) and (max-width:650px){
    h6, .h6{
        padding: 0 20px 100px 20px;
        text-align: center;

    }
}
@media screen and (max-width: 420px) {
    h1 {
      font-size: 25px;
    }
    h3 {
        font-size: 18px;
    }
    h4{
        text-align: center;
        margin: 100px 0 0 0;
        font-family: 'Roboto Mono', monospace;  
    }
    h6 , .h6{
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        padding: 0 50px 50px 50px;
        font-size: 15px;
    }
    .stack{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background-color: white;       
    }
    img{
       
        margin: 0 0 50px -100px;
    }
    #img2{
        margin: 0 0 50px 0;
    }
    .img1{
        grid-row-start: 1;
        
    }
    .img3{
        grid-row-start: 5;
    }
}

@keyframes slidein {
    to {
      margin-left: 0%;
      width: 27%; 
    }
  
    from {
      margin-left: 0%;
      width: 80%;
    }
  }
  