body{
    background-color: pink;
    margin: 100px 100px auto; 
}
#intro{
    padding: 40px;
    display: grid;
  
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center; 
    justify-content: center;
}
.row{    
    display: grid;
    grid-template-columns: repeat(3, .5fr);
    
    justify-items: center;
    align-items: center; 
    justify-content: center;
}
.row div{
    display:grid;
    border: 1px solid black;
    
    height: 20vh;
    width: 100%; 

    align-items: center; 
    justify-items: center;
}
.gameBoard{
    max-width: 600px;
}